.lead {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 984px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    max-width: 928px;
  }
}