.place__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .place__paragraph:last-child {
    padding-bottom: 73px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
  }

  .place__paragraph:last-child {
    padding-bottom: 50px;
  }
}