.lead__subtitle {
  margin: 0;
  padding-bottom: 64px;
  padding-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    padding-bottom: 56px;
    padding-top: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
    padding-top: 16px;
  }
}