.cover {
  padding: 0;
  position: relative;
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin-top: 90px
  }
}



@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
  }
}