.place {
  max-width: 984px;
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: repeat(2, minmax(min-content, 460px));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  margin: 0 auto;
  padding: 0;
  margin-top: 80px;
}

.place:first-child {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(2, minmax(min-content, 440px));
    column-gap: 32px;
    margin: 0;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 73px;
  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    row-gap: 32px;
    justify-items: center;
  }
}

@media screen and (max-width: 320px) {
  .place {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 50px;
  }
}